*{
    margin: 0;
    padding: 0;
}

/* main */

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #DAA520;
    text-align: center;
    margin-top: 30px;
}

.tablecontainer{
    display: flex;
    align-items: center;
    margin-top: 60px;
    /* min-height: 80vh; */

}

table{
    /* border: 1px solid black; */
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
}

td, th{
    padding: 15px;
}